$visual-title:                    14px !default;
$visual-description:              12px !default;
$visual-description-color:        $text-color !default;
$visual-description-margin:       10px 0 !default;
$visual-title-before-bg:          $theme-color !default;